Repository realplatanopapi/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

Setup eslint to my liking
  eslint.config.mjs
  src/app/layout.tsx
  src/components/ui/color-mode.tsx
  src/components/ui/dialog.tsx
  src/components/ui/drawer.tsx
  src/components/ui/popover.tsx
  src/components/ui/slider.tsx
  src/components/ui/text-link.ts
  src/components/ui/theme-provider.tsx
  src/components/ui/tooltip.tsx
  src/theme/recipes/index.ts
  src/theme/semantic-tokens/index.ts
  src/theme/slot-recipes/index.ts
  src/theme/system.ts
  src/theme/tokens/index.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Setup prisma lint
  .prismalintrc.json
  package.json
  pnpm-lock.yaml
  prisma/schema/schema.prisma
Due: prettier --ignore-unknown --write, prisma format, prisma-lint

setup compose and dev scripts
  compose.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

Setup config and db client
  package.json
  pnpm-lock.yaml
  prisma/schema/post.prisma
  src/config/private-config.ts
  src/config/public-config.ts
  src/lib/db/db-client.ts
  src/lib/db/index.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

setup admin
  package.json
  pnpm-lock.yaml
  prisma/schema/schema.prisma
  src/app/admin/[[...nextadmin]]/page.tsx
  src/app/admin/admin.css
  src/app/api/admin/[[...nextadmin]]/route.ts
  tailwind.config.mjs
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

add migration for post model
  prisma/migrations/20250222190433_add_post_model/migration.sql
  prisma/migrations/migration_lock.toml
Due: prettier --ignore-unknown --write

Revert "setup admin"
  package.json
  pnpm-lock.yaml
  prisma/schema/schema.prisma
  src/app/admin/[[...nextadmin]]/page.tsx
  src/app/admin/admin.css
  src/app/api/admin/[[...nextadmin]]/route.ts
  tailwind.config.mjs
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

setup tailwindcss
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/layout.tsx
  src/styles/global.css
  tailwind.config.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Downgrade tailwind v3
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  prisma/schema/schema.prisma
  src/app/admin/[[...nextadmin]]/page.tsx
  src/app/api/admin/[[...nextadmin]]/route.ts
  src/styles/global.css
  tailwind.config.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

add some config
  prisma/migrations/20250222230118_add_post_model/migration.sql
  prisma/schema/post.prisma
  src/app/admin/[[...nextadmin]]/page.tsx
  src/features/admin/constants/admin-options.tsx
  src/features/admin/constants/index.ts
  src/features/admin/index.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

back to json field
  prisma/migrations/20250222231727_add_post_model/migration.sql
  prisma/schema/post.prisma
Due: prettier --ignore-unknown --write, prisma format, prisma-lint

add tiptap
  package.json
  pnpm-lock.yaml
  src/app/admin/[[...nextadmin]]/page.tsx
  src/components/editor/editor.tsx
  src/components/editor/index.ts
  src/features/admin/components/index.ts
  src/features/admin/components/post-content-input.tsx
  src/features/admin/constants/admin-options.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

add a prose snippet
  src/components/ui/index.ts
  src/components/ui/prose.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Add Prose
  package.json
  pnpm-lock.yaml
  src/components/editor/editor.tsx
  tailwind.config.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix persistence
  src/app/p/[slug]/page.tsx
  src/components/editor/editor.tsx
  src/components/editor/index.ts
  src/components/editor/types.ts
  src/features/admin/components/post-content-input.tsx
  src/features/posts/components/index.ts
  src/features/posts/index.ts
  src/features/posts/views/post-view.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

ony use tailwind in admin
  src/app/admin/[[...nextadmin]]/page.tsx
  src/app/admin/layout.tsx
  src/app/layout.tsx
  src/features/styles/admin.css
Due: prettier --ignore-unknown --write, eslint --cache --fix

make it look nice
  package.json
  pnpm-lock.yaml
  src/app/p/[slug]/page.tsx
  src/components/base/index.ts
  src/components/index.ts
  src/features/admin/styles/admin.css
  src/features/posts/views/post-view.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix small font size
  src/components/ui/prose.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Slugify on save
  package.json
  pnpm-lock.yaml
  src/features/admin/constants/admin-options.tsx
  src/lib/db/db-client.ts
  src/lib/db/extensions/index.ts
  src/lib/db/extensions/post.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix some typing issues
  src/app/admin/[[...nextadmin]]/page.tsx
  src/app/p/[slug]/page.tsx
  src/components/editor/editor.tsx
  src/features/posts/views/post-view.tsx
  src/lib/db/db-client.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Delete miggies
  prisma/migrations/20250222231727_add_post_model/migration.sql
  prisma/migrations/migration_lock.toml
Due: prettier --ignore-unknown --write

more models and fields
  prisma/schema/post-tag.prisma
  prisma/schema/post.prisma
  prisma/schema/tag.prisma
  src/app/p/[slug]/page.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

Allow publishing and unpublishing
  prisma/migrations/20250223013811_add_post_models/migration.sql
  prisma/migrations/migration_lock.toml
  src/features/admin/constants/admin-options.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix actions
  src/app/admin/[[...nextadmin]]/page.tsx
  src/app/api/admin/[[...nextadmin]]/route.ts
  src/domain/posts/index.ts
  src/domain/posts/services/index.ts
  src/domain/posts/services/post-publish-service.ts
  src/features/admin/constants/admin-options.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

nice
  src/features/admin/constants/admin-options.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

add a very basic index page
  src/app/page.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Force dynamic
  src/app/page.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

New subtitle field
  prisma/migrations/20250223023135_add_post_subtitle_field/migration.sql
  prisma/schema/post.prisma
Due: prettier --ignore-unknown --write, prisma format, prisma-lint

add logo link
  logo/logo.afdesign
  public/logo.png
  src/app/page.tsx
  src/components/base/index.ts
  src/components/ui/index.ts
  src/components/ui/logo/index.ts
  src/components/ui/logo/logo-icon.tsx
  src/components/ui/logo/logo-link.tsx
  src/components/ui/prose.tsx
  src/features/posts/views/post-view.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

make blog post page look nice
  src/app/layout.tsx
  src/features/layouts/components/app-shell.tsx
  src/features/layouts/components/index.ts
  src/features/layouts/index.ts
  src/features/posts/views/post-view.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

make home page look nice
  src/app/page.tsx
  src/features/layouts/components/app-shell.tsx
  src/features/posts/views/post-view.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Separate blog and admin layouts
  src/app/(admin)/admin/[[...nextadmin]]/page.tsx
  src/app/(blog)/[slug]/page.tsx
  src/app/(blog)/layout.tsx
  src/app/(blog)/page.tsx
  src/app/admin/layout.tsx
  src/app/layout.tsx
  src/features/admin/constants/admin-options.tsx
  src/features/layouts/components/blog-shell.tsx
  src/features/layouts/components/index.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

add a post preview component
  src/app/(blog)/page.tsx
  src/components/ui/index.ts
  src/components/ui/link-overlay.tsx
  src/features/posts/components/index.ts
  src/features/posts/components/post-preview-link.tsx
  src/features/posts/types/post-detail-data.tsx
  src/features/posts/types/post-preview-data.tsx
  src/lib/db/extensions/post.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

make links look like links
  src/app/(blog)/page.tsx
  src/components/ui/logo/logo-link.tsx
  src/components/ui/prose.tsx
  src/features/layouts/components/blog-shell.tsx
  src/features/posts/components/post-preview-link.tsx
  src/features/posts/views/post-view.tsx
  src/theme/recipes/link.ts
  src/theme/semantic-tokens/colors.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Tweakin
  src/features/posts/components/post-preview-link.tsx
  src/theme/recipes/link.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

tweakin
  src/app/(blog)/page.tsx
  src/app/layout.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Simplify gitignore
  .gitignore
Due: prettier --ignore-unknown --write

Add copyright to footer
  src/features/layouts/components/blog-shell.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

do code structure good
  src/app/(blog)/page.tsx
  src/components/base/index.ts
  src/features/landing/views/index.ts
  src/features/landing/views/landing-view.tsx
  src/features/posts/components/post-listing.tsx
  src/features/posts/index.ts
  src/features/posts/types/index.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

we tweakin
  src/features/layouts/components/blog-shell.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prisma format: any of: *.prisma
  prisma-lint: any of: *.prisma
