Repository realplatanopapi/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

Add typecheck script
  package.json
Due: prettier --ignore-unknown --write

Add build
  .github/workflows/ci.yaml
Due: prettier --ignore-unknown --write

run codegen
  .github/workflows/ci.yaml
  package.json
Due: prettier --ignore-unknown --write

ignore build info
  .gitignore
Due: prettier --ignore-unknown --write

missing types
  src/components/ui/text-link.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fixes
  .github/workflows/ci.yaml
  next.config.ts
  src/components/ui/link-overlay.tsx
  src/components/ui/text-link.ts
  src/features/posts/components/table-of-contents.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Add helper for running scripts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/scripts/test-script.ts
  src/scripts/util/runner.ts
  src/scripts/util/script.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --cache --fix

Add new column
  prisma/migrations/20250306000353_add_post_published_at_field/migration.sql
  prisma/schema/post.prisma
Due: prettier --ignore-unknown --write, prisma format, prisma-lint

add backfill script
  src/scripts/backfill-post-published-at.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix error message
  src/scripts/util/runner.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Add to admin
  src/features/admin/constants/admin-options.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

copy scripts
  Dockerfile
Due: prettier --ignore-unknown --write

Read from new field
  src/app/(blog)/[slug]/page.tsx
  src/app/(blog)/page.tsx
  src/domain/posts/services/post-publish-service.ts
  src/features/admin/constants/admin-options.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix description
  src/app/(blog)/[slug]/page.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

drop published column
  prisma/migrations/20250306012326_drop_post_published/migration.sql
  prisma/schema/post.prisma
  src/scripts/backfill-post-published-at.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix, prisma format, prisma-lint

Skip generate and seed in release phase
  fly.toml
Due: prettier --ignore-unknown --write

just shell
  src/app/(blog)/layout.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/features/layouts/components/index.ts
  src/features/layouts/components/shell.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

better buttons
  src/features/appearance/components/appearance-toggle-button.tsx
  src/theme/recipes/button.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

Fix editor positioning
  src/components/editor/editor.tsx
  src/features/admin/components/post-content-input.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

add placeholder
  package.json
  pnpm-lock.yaml
  src/components/editor/editor.css
  src/components/editor/editor.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

optimize tiptap import
  next.config.ts
Due: prettier --ignore-unknown --write, eslint --cache --fix

add floating menu
  src/components/editor/editor.css
  src/components/editor/editor.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

match editor to published posts
  src/components/editor/editor.css
  src/components/editor/editor.tsx
Due: prettier --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prisma format: any of: *.prisma
  prisma-lint: any of: *.prisma
